
@{
    ViewBag.Title = "Login";
}

<h1 class="display-4 text-center "> Login Here</h1>

<div>
    <div class="jumbotron" style="margin:80px;padding:20px;">
        <div class="row">

            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <form action="Login" method="post">
                    <div>
                        <label>Email</label>
                    </div>
                    <div>
                        <input type="email" class="form-control" name="UserName" placeholder="Email" required />
                    </div>

                    <div>
                        <label>Password</label>
                    </div>
                    <div>
                        <input type="password" class="form-control" name="Password" placeholder="Password" required />
                    </div>

                  &nbsp;
                    <div>
                        <input type="submit" class="btn-success form-control" value="Login" />
                    </div>
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>


</div>


